body {
  margin-top: 15px;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  font-size: 20px;
  margin-top: 10px;
}
button {
  display: inline;
}
.card {
  margin: auto;
  width: 50%;
  background-color:lightblue;
  padding: 10px;
}
.card h1 {
  text-align: center;
}
.card input {
  margin: 0;
  border-radius: none;
  width: 75%;
  padding: 10px;
  font-size: 16px;
} 
.button {
  width: 25%;
  background: #d9d9d9;
  color: #555;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}
.button:hover {
  background-color: aqua;
}